@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
}
body{
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: "Poppins", sans-serif;
align-items: center;
display: flex;
justify-content: center; /*centra en el eje principal*/
 /*centra en el eje secundario*/
margin: 8%;


}
.container{
   
    

   
    background-color: rgb(255, 255, 255);
    display: inline-flex; /**/
    
  

    }
.container-info{
    background: #222f3e;
    padding: 20px;
    
    
}

.bi {
 color: #fff;
 
 margin-right: 15px;

 
}
.bi2{
    color: #fff;
 
    margin-right: 15px;
}
.bi2:active{
    color: #69b5e7;
 
    margin-right: 15px;
}
.container_imagen_iz{
 background: rgb(255, 255, 255);
 margin: auto;

       
}

#img{

width: 200px;
scale: 90%;


}

#inputCi{
    border: none;
    background: #576574;
    border-bottom: 1px gray;
    padding:8px;
    outline: none;
    color: #fff;
    
}
#inputPass{

    border: none;
    background: #576574;
    outline: none;
    padding:8px;
    color: #fff;
    
   
}

.btn{
 
 padding: 10px;
 margin-top: 8px;
 padding-left: 10%;
 padding-right: 10%;
 border: none;
 letter-spacing: 2px;
 border-radius: 50px;
 background: #3498db;
 color: #fff;
 align-items: center;
 width: 100%;
}


.btn:active{
 
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    letter-spacing: 2px;
    border-radius: 50px;
   
    color: #69b5e7;
    background: #fff;
    box-shadow: 1px 1px 14px 4px ;
   }

.form-group{
    margin-top: 20px;

}
p{
    color: #fff;
    text-align: center;
    font-size: larger;
}