<link rel="stylesheet" href="/css/dash.css" />

<div class="container mt-3">
  {{! un solo row que engloba todo }}
<div class="row align-content-center">
 
    
<div class="row ">
  <div class="col-5 col-sd-12 col-md-5 col-lg-5">
      <form id="formDates"  >

        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Inicio</span>
  </div>
  <input type="date" name="dateStartDash" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Fin</span>
  </div>
  <input type="date"  name="dateEndDash" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div> 


    <button  id="butDataGraph" class="btn btn-success">Graph</button>

     </form>   
  </div>  
</div>
  


        

  


</div>
  {{! una sola columna que engloba a todo }}

  {{! otro row para la fila superior que estara dividida en dos columnas }}
  <div class="row align-content-center">
    {{! primera columna superior de units produced }}
    <div class="col-12 col-md-6 col-sm-12 mt-3">
      {{!  card  para units produced}}
      <div id="unitsProduced" class="card">
        <div id="div-units-produced" class="card-body">
          <h5 class="card-title">Performance(%)</h5>
          {{!  }}
          {{!  }}
          {{! primer gr치fico en canvas  }}
          <canvas id="canvas-unitsProduced" height="300px" ></canvas>
        </div>
      </div>
    </div>
    {{! segunda columna superior de paralizaciones }}
    <div class="col-12 col-md-6 col-sm-12 mt-3">
      {{! card para paralizaciones }}
      <div id="paralizations" class="card">
        <div class="card-body">
          <div class="container d-flex mb-4">
                      <h5 class="card-title mx-2">Paralizations</h5>
          <select id="featuresOptions"  >
            <option value="height">by type</option>
            
             </select>
          </div>

              {{! segundo gr치fico en canvas  }}
          <canvas id="canvas-paralizaciones"></canvas>
        </div>

      </div>
    </div>
  </div>
  {{! una fila inferior para las lineas en tiempo real en todo el ancho de la p치gina }}
  <div class="row mt-4">
    <div class="col">
      {{! card para lineas en tiempo real }}
      <div id="realTime" class="card">
        <div class="card-body" >
          <h5 class="card-title">Real Time</h5>
          {{!  }}
          {{!  }}
          {{! tercer gr치fico en canvas  }}
          <canvas id="canvas-realTime" ></canvas>
        </div>

      </div>
    </div>

  </div>

  {{! div del primer row que engloba todo }}

</div>
 <script  type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script  src="/js/dash/script.js"></script>
<!--

<script  src="/js/dash/helpers.js"></script>
<script  src="/js/dash/handlers.js"></script>
<script  src="/js/dash/app.js"></script> -->
