


     
    <div class="">

      <div class="area">
        <div class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-3">Productivity.app</h1>
      <h5 class="mb-5">
        <em>Obten el control total de tu empresa, usa la tecnología a tu favor.</em>
      </h5>
      <a class="btn btn-success" href="/signin">Let's get started</a>
    </div>
  </div>
        
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
      </div>

</div>



