  <div class="container-prod-all">
      <div class="cotainer-prod-left-all">
        <!-- tabla para ver los items enviadro por planeación -->
        <div class="cotainer-prod-left-top">
          <div class="div-tab-planner-list">
            <table id="tb-list-plan">
              <tr>
                <td colspan="5">
                  <label for="" class="lbl-list plan">
                    Listado de Planeación</label
                  >
                </td>
              </tr>
              <tr>
                <th>Id</th>
                <th>Máquina</th>
                <th>Producto</th>
                <th>Estado</th>
                <th>cantidad</th>
              </tr>
              <tr>
                <td>001</td>
                <td>irwin 5</td>
                <td class="td-nom-prod">Super Vianda Amarilla x 25</td>
                <td><label class="Iniciado" for="">Iniciado</label></td>
                <td>2000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="cotainer-prod-left-bottom">
          <!-- tabla para ver los items enviados a máquina -->

          <div class="div-tab-prod-list">
            <table id="tb-list-prod">
              <tr>
                <td colspan="5">
                  <label for="" class="lbl-list prod">
                    Listado de Ordenes</label
                  >
                </td>
              </tr>
              <tr>
                <th># O.P</th>
                <th>Máquina</th>
                <th>Producto</th>
                <th>Estado</th>
                <th>cantidad</th>
              </tr>
              <tr>
                <td>001</td>
                <td>irwin 5</td>
                <td class="td-nom-prod">Super Vianda Amarilla x 25</td>
                <td><label class="Iniciado" for="">Iniciado</label></td>
                <td>500</td>
              </tr>
            </table>
          </div>



        </div>
      </div>
      <div class="cotainer-prod-right">
        <div class="container-form-prod">
          <div class="div-form-planner">
            <div id="div-form-plan">
              <label id="num-orden"
                ># <input id="num-orden-prod" type="text" disabled
              /></label>

              <form id="form-plan">
                <label for="id-plan">Planner(id)</label>

                <input class="" id="id-plan" type="text" />

                <button class="btn btn-primary">Cargar</button>
              </form>
            </div>

            <div class="div-form-prod">
              <form id="form-production">
                <table class="tab-form-planner">
                  <tr>
                    <td colspan="4"><h4>Orden de Producción</h4></td>
                  </tr>
                  <tr>
                    <td><label for="nombre_linea">Línea</label></td>
                    <td>
                      <input id="nombre_linea" class="input-s" type="text" />
                    </td>

                    <td><label for="cod_linea">Cód. línea</label></td>
                    <td>
                      <input id="cod_linea" class="input-s" type="text" />
                    </td>
                  </tr>
                  <tr>
                    <td><label for="nombre-articulo">Artículo</label></td>
                    <td>
                      <input id="nombre-articulo" class="input-s" type="text" />
                    </td>

                    <td><label for="cod-art">Cód. Artículo</label></td>
                    <td>
                      <input id="cod-art" class="input-s" type="text" />
                    </td>
                  </tr>
                  <tr>
                    <td><label for="peso">Peso(g)</label></td>
                    <td><input id="peso" class="input-s" type="text" /></td>

                    <td>
                      <label for="prod-hora">Cant. por hora</label>
                    </td>
                    <td><input id="c" class="input-s" type="number" /></td>
                  </tr>
                </table>

                <table class="tab-form-suministro">
                  <tr>
                    <td colspan="3">
                      <label id="lbl-mp" for=""><b> Materia Prima </b></label>
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">cantidad</th>
                  </tr>

                  <tr>
                    <td><input class="input-cod-suministros" type="text" /></td>
                    <td class="td-desc-suministro">
                      <input
                        class="input-desc-suministro"
                        type="text"
                        disabled
                      />
                    </td>
                    <td><input class="input-cant-suministro" type="text" /></td>
                  </tr>

                  <tr>
                    <td><input class="input-cod-suministros" type="text" /></td>
                    <td class="td-desc-suministro">
                      <input
                        class="input-desc-suministro"
                        type="text"
                        disabled
                      />
                    </td>
                    <td><input class="input-cant-suministro" type="text" /></td>
                  </tr>
                  <tr>
                    <td><input class="input-cod-suministros" type="text" /></td>
                    <td class="td-desc-suministro">
                      <input
                        class="input-desc-suministro"
                        type="text"
                        disabled
                      />
                    </td>
                    <td><input class="input-cant-suministro" type="text" /></td>
                  </tr>
                  <tr>
                    <td><input class="input-cod-suministros" type="text" /></td>
                    <td class="td-desc-suministro">
                      <input
                        class="input-desc-suministro"
                        type="text"
                        disabled
                      />
                    </td>
                    <td><input class="input-cant-suministro" type="text" /></td>
                  </tr>
                  <tr>
                    <td><input class="input-cod-suministros" type="text" /></td>
                    <td class="td-desc-suministro">
                      <input
                        class="input-desc-suministro"
                        type="text"
                        disabled
                      />
                    </td>
                    <td><input class="input-cant-suministro" type="text" /></td>
                  </tr>
                  <!--  -->

                  <tr id="tr-obser">
                    <td id="td-obser" align="left"><b> Observaciones:</b></td>
                  </tr>
                  <tr>
                    <td colspan="3" style="width: 100%">
                      <textarea
                        style="width: 100%"
                        name=""
                        id="textarea"
                        rows="2"
                      ></textarea>
                    </td>
                  </tr>
                </table>
                <div id="but-gen">
                  <button class="" id="but-gen-ord" type="submit">
                    <i class="bi bi-journal-richtext"></i>
                    Generar Orden
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>