{{! estilos solo para esta pagina ya que es una plantilla y es renderizado aparte del main }}
<link rel="stylesheet" href="/css/production.css" />

<link rel="stylesheet" href="/css/prod-list-plan.css" />

<div class="container d-flex justify-content-center mt-4">

  <div class="row">
    <div class="col-12 col-md-3">
      {{! se divide este col para hacer las dos tablas dentro de un col  }}
      <div class="row">
        <div class="col">
          <div class="container">
            <button
              id="buttonPlannerModal"
              data-bs-toggle="modal"
              data-bs-target="#modal-Planner-Id"
              type="button"
              class="btn btn-outline-primary btn-lg"
            >Productos a Fabricar</button></div>
        </div>
      </div>

      {{!///////segunda tabla Order Started/////////}}
      <div class="row mt-3">
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              <h3 class="card-title">Order Started</h3>
            </div>
            <div class="card-body">
              {{! encabezado del Order Started }}

              <div class="row mb-2 text-center align-items-center">
                <div class="col">
                  Id Planner
                </div>
                <div class="col">
                  # Order
                </div>
                <div class="col">
                  Code
                </div>
                <div class="col">
                  Description
                </div>
                <div class="col">
                  Amount
                </div>
                <div class="col">
                  F. Inicio
                </div>
                <div class="col">
                  Line
                </div>

              </div>
              {{! primer registro de order started }}
              <div
                class="row mb-2 text-center align-items-center text-secondary"
              >
                <hr />
                <div class="col">
                  00001
                </div>
                <div class="col">
                  123456
                </div>
                <div class="col">
                  012545
                </div>
                <div class="col">
                  Super Vianda Amrilla
                </div>
                <div class="col">
                  25146
                </div>
                <div class="col">
                  2022-10-12
                </div>
                <div class="col rounded bg-danger bg-gradient">
                  <span class="text-white">Irwin #5</span>
                </div>

              </div>
              {{! segundoregistro de order started }}
              <div
                class="row mb-2 text-center align-items-center text-secondary"
              >
                <hr />
                <div class="col">
                  00001
                </div>
                <div class="col">
                  123456
                </div>
                <div class="col">
                  012545
                </div>
                <div class="col">
                  Super Vianda Amrilla
                </div>
                <div class="col">
                  25146
                </div>
                <div class="col">
                  2022-10-12
                </div>
                <div class="col rounded bg-warning bg-gradient">
                  <span class="text-white">Irwin #5</span>
                </div>

              </div>
              {{!  }}
            </div>
          </div>
        </div>
      </div>
      {{! div del col }}
    </div>

    <div class="col">
      <div class="card">

        <div class="card-header">

          <h3 class="card-title text-center">Production Order</h3>

        </div>
        <div class="card-body">
          {{! formulario para ingresar la orden de producción }}

          <form
            id="form-production"
            
            autocomplete="off"
            
          >
            {{! //////////////////////////////////header form/////////////////////////////////////////////////////////// }}
            {{! input group para todos los input del formulario orden de produccion }}
            <div class="input-group m-2">
              <label class="form-label" for="prod-hora"># Orden:
                <span
                  id="spanOrder"
                  class="p-1 rounded bg-danger bg-gradient text-white"
                ></span>
              </label>
            </div>
            {{! para llamar a un partial que cargue la cabecera de la orden de produción e informe de operador  }}
            {{!  }}
            {{!  }}
            {{!  }}
            {{> headercardOpInfor}}  
            {{!  }}
            {{!  }}
            {{!  }}

            {{! primer input-group }}
            {{! <div class="input-group mb-2">
              <span class="input-group-text" for="nombre_linea">Line</span>
              <input id="nombre_linea" class="form-control" type="text" />
              <span class="input-group-text" for="cod_linea">C.C</span>
              <input class="form-control" id="cc" type="text" />
            </div> }}
            {{! segundo input-group }}
            {{! <div class="input-group mb-2">
              <span
                class="input-group-text"
                for="nombre-articulo"
              >Artículo</span>
              <input class="form-control" id="nombre-articulo" type="text" />

            </div> }}

            {{! tercer input-group }}

            {{! <div class="input-group mb-2">

              <span class="input-group-text" for="cod-art">Código</span>
              <input class="form-control" id="cod-art" type="text" />
              <span class="input-group-text" for="peso">Peso(g)</span>
              <input class="form-control" id="peso" type="number" />
            </div> }}
            {{! cuarto input-group }}
            {{! <label class="form-label" for="prod-hora">Cantidad a Fabricar
            </label>
            <div class="input-group mb-2">

              <span class="input-group-text" for="prod-hora">Total</span>
              <input class="form-control" id="c" type="number" />
              <span class="input-group-text" for="prod-hora">Ciclo</span>
              <input class="form-control" id="c" type="text" />

            </div> }}

            {{! quinto input-grou }}

            {{! <div class="input-group mb-3">

              <span class="input-group-text" for="prod-hora">Por Turno</span>
              <input class="form-control" id="c" type="number" />
              <span class="input-group-text" for="prod-hora">Por hora</span>
              <input class="form-control" id="c" type="number" />

            </div> }}
            {{! ////////////////////////////////////////body-form///////////////////////////////////////////////////// }}

            {{! aqui esta la tabla que nos mostrará los input que activaran la ventana modal patra elegir la materia prima y suministro }}
            <div class="card">
              <div class="card-body text-center">
                <div class="row">
                  <h5 class="card-title text-center">Materia Prima y suministros</h5>
                </div>
                {{! cabvecera suministros }}
                <div class="row mb-2 text-center">
                  <div class="col col-md-3">
                    Code
                  </div>
                  <div class="col col-md-5">
                    Description
                  </div>
                  <div class="col col-md-2">
                    Cantidad
                  </div>
                  <div class="col col-md-2">
                    Unidades
                  </div>
                </div>
                {{! primera fila de inputs materia prima y suministros  }}
                <div class="row mb-2">
                  <div class="col col-md-3">
                    <div class="input-group">
                      <input id="codeMp1" class="form-control" type="text" />
                      <button
                        class="btn btn-outline-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-item-search"
                        type="button"
                        id="butsearchMp1"
                      ><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                  <div class="col col-md-5">
                    <input
                      id="descMp1"
                      class="form-control"
                      type="text"
                      disabled
                    />
                  </div>
                  <div class="col col-md-2">
                    <input id="cantidadMp1" class="form-control" type="text" />
                  </div>
                  <div class="col col-md-2">
                    <span id="undSpan1">KLS</span>
                  </div>
                </div>

                {{! segunda fila de inputs materia prima y suministros  }}

                <div class="row mb-2">
                  <div class="col col-md-3">
                    <div class="input-group">
                      <input id="codeMp2" class="form-control" type="text" />
                      <button
                        class="btn btn-outline-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-item-search"
                        type="button"
                         id="butsearchMp2"
                      ><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                  <div class="col col-md-5">
                    <input
                      id="descMp2"
                      class="form-control"
                      type="text"
                      disabled
                    />
                  </div>
                  <div class="col col-md-2">
                    <input id="cantidadMp2" class="form-control" type="text" />
                  </div>
                  <div class="col col-md-2">
                    <span id="undSpan2">KLS</span>
                  </div>
                </div>

                {{! tercera fila de inputs materia prima y suministros  }}
                <div class="row mb-2">
                  <div class="col col-md-3">
                    <div class="input-group">
                      <input id="codeMp3" class="form-control" type="text" />
                      <button
                        class="btn btn-outline-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-item-search"
                        type="button"
                        id="butsearchMp3"
                      ><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                  <div class="col col-md-5">
                    <input
                      id="descMp3"
                      class="form-control"
                      type="text"
                      disabled
                    />
                  </div>
                  <div class="col col-md-2">
                    <input id="cantidadMp3"  class="form-control" type="text" />
                  </div>
                  <div class="col col-md-2">
                    <span id="undSpan3">KLS</span>
                  </div>
                </div>
                {{! cuarta fila de inputs materia prima y suministros  }}
                <div class="row mb-2">
                  <div class="col col-md-3">
                    <div class="input-group">
                      <input id="codeMp4" class="form-control" type="text" />
                      <button
                        class="btn btn-outline-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-item-search"
                        type="button"
                        id="butsearchMp4"
                      ><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                  <div class="col col-md-5">
                    <input id="descMp4" class="form-control" type="text" disabled />
                  </div>
                  <div class="col col-md-2">
                    <input id="cantidadMp4" class="form-control" type="text" />
                  </div>
                  <div class="col col-md-2">
                    <span id="undSpan4">KLS</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="form-floating mt-2">
              <textarea
                class="form-control"
                placeholder="Leave at note here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2">Note</label>
            </div>

            <div class="row">
              <div class="col text-center">



                <button id="btnSaveOrden"
                  class="btn btn-outline-danger btn-md mt-3"
                  type="submit"
                >
                  <i class="bi bi-journal-richtext"></i>
                  Generar Orden
                </button>
              </div>
            </div>
      <div class="container mt-4" id="divMensajeError">

      </div>
          </form>

        </div>
      </div>
      {{! div del col orden prod }}
    </div>

    {{! div del row }}
  </div>
  {{! div del container }}
</div>
{{! ////////////////////////////////////////////////////////////// }}
{{! ventana modal para buscar materia prima y suministros por codigo y cargar automaticamnete a la orden  }}
{{! una ventana mmodal esta constituido de  1) modal-header 2) modal-body 3) modal-footer}}

<div
  class="modal fade"
  id="modal-item-search"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleWindow"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titleWindow">Load item</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row text-center">
          <div class="col">
            <div class="container mb-3">
              <button
                id="seachMp"
                type="button"
                class="btn btn-outline-secondary"
                type="button"
              >
                Materia Prima
              </button>
              <button
                id="searchSum"
                type="button"
                class="btn btn-outline-secondary"
                type="button"
              >
                Suministro
              </button>
            </div>
          </div>
        </div>

        <div class="input-group">
          <input id="inputSearchCode" type="text" class="form-control" placeholder="insert code" />
          <button class="btn btn-outline-success" type="button" id="butSearchCode"><i
              class="bi bi-search"
            ></i></button>
        </div>
        <div id="divErrorLoadMpSum" class="container mt-3"></div>
      </div>

      <div class="container">
        <table id="tablaMp" class="table table-hover text-center">

          <thead>
            <tr>
              <th scope="col">codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Proveedor</th>
              <th scope="col">familia</th>
              <th scope="col">categoria</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody id="tbodyMp">

          </tbody>
            <tfoot id="tfootMp">

          </tfoot >

        </table>
        <table id="tablaSum" class="table table-hover text-center">

          <thead>
            <tr>
              <th scope="col">codigo</th>

              <th scope="col">Proveedor</th>
              <th scope="col">Descripción</th>
              <th scope="col">undMedida</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>

          <tbody id="tbodySum">

          </tbody>
          <tfoot id="tfootSum">

          </tfoot >

        </table>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-info text-white"
          type="button"
          data-bs-dismiss="modal"
        >Back</button>

      </div>
    </div>
  </div>
</div>

{{! ////////////////modal planner id///////////////// }}

<div
  class="modal fade"
  id="modal-Planner-Id"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleWindow"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titleWindow">Productos a Fabricar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="butCloseModal"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">

          <thead>
            <tr>
              <th scope="col">Id(Plan)</th>
              <th scope="col">Programado el:</th>
              <th scope="col">Código</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Unidades</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody id="tablaPlanner">

          </tbody>
        </table>

      </div>

      <div class="modal-footer">
        <button
          class="btn btn-info text-white"
          type="button"
          data-bs-dismiss="modal"
        >Back</button>

      </div>
    </div>
  </div>
</div>

{{! ///////////////////////////////// }}
{{! ///////////////////////////////// }}
{{! ///////////////////////////////// }}


<script type="text/javascript" src="js/orden/orden.js"></script>