<link rel="stylesheet" href="/css/planner.css" />

<div class="container p-1 mt-4">
  <div class="row ">
    <div class="col-12 col-lg-5 mb-3">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="card-title">Planner</h3>
        </div>
        <div class="card-body">
          <form  id="planForm" autocomplete="off">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">#</span>
              <input
                type="text"
                class="form-control bg-transparent border border-white"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
                name="plan_id"
                id="id_plan"
                value=""
                disabled
              />
            </div>

            <div class="input-group mb-3">
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Product code</span>
              <input
                id="inputCodeProd"
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
                name="cod_prod_plan"
                 required
              />
              <button
                class="btn btn-outline-secondary"
                data-bs-toggle="modal"
                data-bs-target="#modal-item-search"
                type="button"
                id=""
              ><i class="bi bi-search"></i></button>

            </div>
            <div class="input-group mb-3">
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Product</span>
              <input
              id="desc_Product"
                type="text"
                name="desc_prod_plan"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
                 required
              />
            </div>
            <div class="input-group mb-3">
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Machine</span>
              <select
                id="name_line"
                name="linea_name"
                class="form-select"
                aria-placeholder="Open this select menu"
                {{!-- onchange="mostrarCc(line)" --}}
                required
              ><option value="">PLEASE SELECT ONE</option>
                <option value="IRWIN 1 ">IRWI 1 </option>
                <option value="IRWIN 2">IRWIN 2</option>
                <option value="IRWIN 3">IRWIN 3</option>
                <option value="IRWIN 4">IRWIN 4</option>
                <option value="IRWIN 5">IRWIN 5</option>
                <option value="COMODORE">COMODORE</option>
                
              </select>
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >CC</span>
              <input
                id="cc_line"
                name="linea_cc"
                type="text"
                class="form-control"
                aria-describedby="basic-addon1"
                required
              />
            </div>

            <div class="input-group mb-3">
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Quantity</span>
              <input
              id="qty"
                type="number"
                min="0"
                name="cant_plan"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
                 required
              />

              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Measurement</span>
              <select
                id="select_measurement"
                name="units_cant_plan"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="Seleccionar">Seleccionar</option>
                <option value="FDON">FDON</option>
                <option value="UND">UND</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Date start</span>
              <input
              id="dateStart"
                type="DateTime-local"
                name="date_start"
                class="form-control text-center"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
                 required
              />
            </div>
            <div class="input-group mb-3">

              <input
              id="dateEnd"
                type="DateTime-local"
                name="date_end"
                class="form-control text-center"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
                 required
              />
              <span
                class="input-group-text text-secondary"
                id="basic-addon1"
              >Date end</span>
            </div>
            <div class="d-grid gad-2">
              <button  id="sendPlan" class="btn btn-primary btn-block">Planificar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7">
      <div class="card text-center">

        <div class="card-header">
          <h3 class="card-title center"> TimeLine</h3>
        </div>
        <div id="timeline" class="card-body ">
          <div id="chart_div"></div>

        </div>

      </div>
    </div>
  </div>
</div>

{{! ventana modal para buscar productos por codigo y cargar automaticamnete al planificador  }}
{{! una ventana mmodal esta constituido de  1) modal-header 2) modal-body 3) modal-footer}}

<div
  class="modal fade"
  id="modal-item-search"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleWindow"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titleWindow">Load item</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{! form }}
        <form method="get" id="buscarProducto">
          <div class="input-group">

            <input
              type="text"
              id="code_product"
              name="code_product"
              class="form-control"
              placeholder="insert code"
            />
            <button class="btn btn-outline-success" id="search"><i
                class="bi bi-search"
              ></i></button>
          </div>
        </form>
         <div class="container" >
         <div class="row text-secondary mt-3">
            <div class="col-2">código</div>
            <div class="col-4">Descripción</div>
            <div class="col-1">Por hora</div>
            <div class="col-2">Por turno</div>
            <div class="col-2">Und medida</div>
            <div class="col-1">Action</div>
          </div>
        <div class="container" id="divProd">
      
            
        </div>
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-info text-white"
          type="button"
          data-bs-dismiss="modal"
        >Back</button><button id="loadCod"
          class="btn btn-success text-white"
          type="button"
          data-bs-dismiss="modal"
        >Load</button>

      </div>
    </div>
  </div>
</div>

{{! ///////////////////////////////// }}
{{! ///////////////////////////////// }}
{{! ///////////////////////////////// }}
{{! ///////////////////////////////// }}
<script src="/socket.io/socket.io.js"></script>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript" src="/js/planner/chart-gantt.js"></script>
<script type="text/javascript" src="/js/planner/planner.js"></script>