<div class="container p-4">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome "{{user.[0].nombres}}"</h3>
                    <h4></h4>

                </div>
            </div>
        </div>

    </div>
</div>