@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  background-color: #130f40;

}

#realTime{

  background-color: #1f1f4c;
  color: white;
  font-family: "Poppins", sans-serif;
}
canvas{
  height: 500px;
  overflow:scroll;
}

/* grafico de unidades producidas */

#unitsProduced{
  background-color: #1f1f4c;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* grafico de paralizaciones */
#paralizations{
 

  background-color: #1f1f4c;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* grafico de tiempo real */


