@import url("https://fonts.googleapis.com/css?family=Poppins");

/* background color per page  */
body{
  background-color: #ecf0f1e0;
}

@media(max-width:500px){
  .container{
  flex-direction: column;
  gap: 5px;
  }
}