{{#if failed}}
<div class="row">
  <div class="col">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{failed}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
</div>
  </div>
</div>
  {{/if}}
  {{#if success}}
<div class="row">
  <div class="col">
    <div class="alert success alert-dismissible fade show" role="alert">
  {{success}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
</div>
  </div>
</div>
  {{/if}}
  
  {{#if message}}
<div class="row">
  <div class="col">
    <div class="alert info alert-dismissible fade show" role="alert">
  {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
</div>
  </div>
</div>
  {{/if}}