<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">PESA Online</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav" style="margin-left: auto;">

     
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Links
          </a>
          <ul class="dropdown-menu">

          
             <li id="planerLi"><a class="dropdown-item" href="/planner">Planeación</a></li>
             <li id="ordenLi"><a class="dropdown-item" href="/ordenProd">Orden de producción</a></li>
             <li id="inforLi"><a class="dropdown-item" href="/informe-Operador">Informe de producción</a></li>
            <li id="dashLi"><a class="dropdown-item" href="/dash">Dashboard</a></li>
            <li id="adminLi"><a class="dropdown-item" href="/admin">Admin</a></li>

          </ul>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">{{user.[0].nombres}} (<span id="spanRol">{{user.[0].rol}}</span>) </a>
        </li>
        
                <li class="nav-item">
          <a  class="nav-link" href="/logOut">Logout</a>
        </li>
{{else}}
       
<li class="nav-item">
  <a class="nav-link" href="/signin">SignIn</a>
</li > 
    {{/if}}



    




    

      </ul>

    </div>

  </div>
</nav>

<script>
  const spanRol=document.querySelector('#spanRol')
  const planerLi=document.querySelector('#planerLi')
  const ordenLi=document.querySelector('#ordenLi')
  const inforLi=document.querySelector('#inforLi')
  const dashLi=document.querySelector('#dashLi')
  const adminLi=document.querySelector('#adminLi')
 planerLi.style.display="none"
    ordenLi.style.display="none"
    inforLi.style.display="none"
    dashLi.style.display="none"
    adminLi.style.display="none"

  
 if(spanRol.value!=null){
   rol=spanRol.textContent
 }
  
function display(rol){


  
    if(rol=="Ayudante"){
  inforLi.style.display="block"
    } else if(rol=="Ayudante"){
      
    }

 


}

  
</script>
