<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">PESA Online</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav" style="margin-left: auto;">

     
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Links
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/links">All Links</a></li>
             <li><a class="dropdown-item" href="/planner">Planeación</a></li>
             <li><a class="dropdown-item" href="/dash">Orden de producción</a></li>
             <li><a class="dropdown-item" href="/dash">Informe de producción</a></li>
            <li><a class="dropdown-item" href="/dash">Dashboard</a></li>
            <li><a class="dropdown-item" href="/admin">Admin</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile  </a>
        </li>
   


                <li class="nav-item">
          <a  class="nav-link" href="/logOut">Logout</a>
        </li>

<li class="nav-item">
  <a class="nav-link" href="/signin">SignIn</a>
</li >
    




    

      </ul>

    </div>

  </div>
</nav>