@import url("https://fonts.googleapis.com/css?family=Poppins");

body{
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  
}


.container-prod-all {
  /* background: rgb(8, 8, 8); */
  width: 100vw;
height: 100vh;
  display: flex;
 
  
}

.cotainer-prod-left-all {
  /* background: red; */
  height: 100vh;
  width: 40vw;
}
.cotainer-prod-left-top {
  /* background: rgb(201, 126, 21); */
  width: fit-content;
  height: 300px;
}
.cotainer-prod-left-bottom {
  /* background: rgb(6, 238, 60); */
  width: fit-content;
  height: 300px;
}

.cotainer-prod-right {
  /* background: rgb(79, 79, 82); */
  width: fit-content;
  height: 100vh;
 
  align-items: center;
}
.container-form-prod {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 2%;
}

.div-form-prod {
  width: 95%;
  height: fit-content;
  margin: auto;
}
.div-form-planner {
  width: fit-content;
  height: 4%;
  margin: auto;
  height: fit-content;
  margin-top: 5px;
}
#id-plan {
  width: 100px;
}
.tab-form-planner {

  
  width: fit-content;
  text-align: left;
}
#form-production {
  background: #fff;

  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  padding-top: 5px;
}
#div-form-plan {
  background: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;

  width: 95%;
  height: fit-content;
  margin: auto;
}
#form-plan {
 
  background: #ecf0f1;
margin: 0px 20px;
padding: 10px;
 
}
.input-s {
 
 
  /* margin: 8px; */
  width: 90%;
  background: none;
  display: flex;
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  left: 0;
   outline: none;
  text-align: center;
  margin-left: 8px;
}
.input-s:focus {
  border-bottom: 2px solid cornflowerblue;
  transition: 0.3s ease-in-out;
}
label {
  color: rgb(96, 90, 90);

  
}

.input-cod-suministros {
  width: 60%;
 
  margin-top: 5px;
  text-align: center;
}
.tab-form-suministro {
 
  width: 100%;
  background: #ecf0f1;
  margin-top: 2%;
 
}
td {
  width: 120px;
  text-align: center;
  margin-top: 58px;
}



.input-desc-suministro {
  /* width: 140%; */
  min-width: 80px;
  margin-top: 8px;
  text-align: center;
}
.input-cant-suministro {
  width: 40%;
  min-width: 80px;
  margin-top: 8px;
  text-align: center;
}
tr {
  align-items: center;
  text-align: center;
  margin: 20px;
}
#num-orden-prod {
  background: #e67e22;
  border: none;
  outline: none;
  box-shadow: -1px 2px 14px 1px rgba(230, 126, 34, 0.67);
  border-radius: 6px;
  padding: 2px;
  width: 20%;
  min-width: 60px;
  margin-right: 20px;
   margin-bottom: 5px;
}
#num-orden {
  width: 100%;
  text-align: right;
  margin-top: 2%;
}

#but-gen{
    width: 100%;
    margin-top: 2%;
   
    text-align: center;
}
#but-gen-ord {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  letter-spacing: 1.5px;
  color: #ffff;
  padding: 8px 45px;
  border-radius: 25px;
  border: #3742fa;



}

#but-gen-ord:hover{

    box-shadow: 0px 0px 7px 3px   #36d1dc;
   
}

#but-gen-ord:active{

    transform:  scale(0.9);
   
}

#lbl-mp{
margin-top: 8px;
}

