@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}


.container-prod-all{
background:rgb(8, 8, 8);
width: 100vw;
height: 100vh;
display: flex;


}





.cotainer-prod-left-all{
    background:red;
   height: 100vh;
   width: 40vw;
   
 
}
.cotainer-prod-left-top{
    background:rgb(235, 139, 5);
    width: 100vw;
    height: 50vh;
}
.cotainer-prod-left-bottom{
    background:rgb(6, 238, 60);
    width: 100vw;
    height: 50vh;
}


.cotainer-prod-right{
    background:rgb(33, 8, 222);
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
  
   
   
    
  
} 
.container-form-prod{
  
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top:2% ;
}

.div-form-prod{
   

   width: 95%;
   height: fit-content;
   margin: auto;

}
.div-form-planner{

    width: 95%;
    height: 4%;
    margin: auto;
    height: fit-content;
    margin-top: 20px;
    
 
}
#id-plan{
    width: 100px;
}
.tab-form-planner{
text-align: center;
border: 1px solid;
width: fit-content;
}
#form-production{
    background: #fff;

border-radius: 0px 0px 10px 10px;
padding: 20px;
}
#form-plan{
    background: rgb(255, 255, 255);
      border-radius: 10px 10px 0px 0px;
    padding: 20px;
    
}
.input-s{
margin: 10px;
width: 190px;
background: none;
display: flex;
border: 0;
border-bottom: 2px solid rgb(200,200,200);
left: 0;
width: 100%;
outline: none;

}
.input-s:focus{
    
  border-bottom: 2px solid cornflowerblue;
  transition: 0.3s ease-in-out;
}
label{

   transform: translatey(-20px);
    color: rgb(96, 90, 90);
   


   
}

