.div-tab-planner-list {
  overflow: scroll;


}
#tb-list-plan {
  background: white;

  border-radius: 10px 10px 10px 10px;
  width: 95%;
  margin-top: 5%;
  height: 200px;
  width: 300px;

}

th {
  background: #ecf0f1;
}
.div-tab-prod-list {

    overflow: scroll;
 
}

#tb-list-prod {
  background: white;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  width: 95%;
  height: 200px;
  width: 300px;
 
}
