<div class="container my-4">
  <div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error!</h4>
  <p>Lo sentimos la sesion expiró, por favor vuelve a ingresar o contáctate con el administrador mediante correo, para que te conceda las credenciales pertinentes para ingresar. </p>
  <hr>
  <p class="mb-0">email: kevin344k@gmail.com.</p>
</div>
</div>

<script>
  setTimeout(()=>{
    console.log("Vas a ser redirigido en 20 seg")
    window.location.href="/"
  },20000)
</script>