<div class="container">
  <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Eror!</h4>
  <p>Lo sentimos aún no estas logeado, por favor contactate con el administrador mediante correo, para que te conceda las credenciales pertinentes para ingresar. </p>
  <hr>
  <p class="mb-0">email: kevin344k@gmail.com.</p>
</div>
</div>

<script>
  setTimeOut(()=>{
    window.location.href="/"
  },20000)
</script>